<html>
    <head>
        <title></title>
        <script type="text/javascript" src="public/js/scripts.js"></script>
    </head>

    <body>
        <h1>Welcome {{username}}</h1>
        <form action="/home" method="POST">
            <input type="text" id="items" name="username" value="{{username}}" style="display: none;">
            <label>List Your Task</label>
            <input type="text" id="items" name="list_items" value="{{listItems}}">
            <button type="submit" onClick="insertItems()">Send</button>
        </form>

        <div id="showResults">
            {{#each result}}
                <input type="text" id="items" name="username" value="{{this.username}}" style="display: none;">
                <h4 id="{{this.todo_item}}">{{this.todo_item}}</h4>
                {{!-- <button onclick="removetodoItem('{{this.todo_item}}')">Remove</button> --}}
                <a href="/delete?username={{this.username}}&todolistItem={{this.todo_item}}">Delete</a>
            {{/each}}
        </div>
    </body>
</html>